/* Design by http://www.dreamtemplate.com */
@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#585757;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	background:#fdfdfd;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
	background:url(../images/header_bg.gif) repeat-x left 102px;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:26px;
	font-weight:normal;
	line-height:1.2em;
	color:#585757;
	text-transform:none;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:#dfc988;
	text-decoration:underline;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
	background:url(../images/hbg_bg.jpg) no-repeat center 102px;
}
.header_resize {
	margin:0 auto;
	padding:0 0 24px;
	width:960px;
}
.logo {
	padding:0;
	float:none;
	float:left;
	width:auto;
	height:125px;
}
h1 {
	margin:0;
	padding:32px 0 0 20px;
	font-size:32px;
	font-weight:bold;
	line-height:1.2em;
	text-transform:none;
	letter-spacing:2px;
}
h1 a, h1 a:hover {
	color:#dcc174;
	text-decoration:none;
}
h1 span {
}
h1 small {
	font-size:14px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#dcc174;
}
.slider {
	margin:0;
	padding:10px 10px 28px;
	background:url(../images/slider_bg.jpg) no-repeat center top;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin:0;
	padding:40px 0 0;
	height:56px;
	float:right;
}
.menu_nav ul {
	list-style:none;
	padding:0 0 0 2px;
	height:56px;
	float:left;
}
.menu_nav ul li {
	margin:0;
	padding:0 2px 0 0;
	float:left;
	background:no-repeat right center;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:5px 12px 0;
	height:24px;
	font-size:15px;
	line-height:20px;
	font-weight:bold;
	color:#585757;
	text-decoration:none;
	text-transform:none;
	text-align:center;
	background:none;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#fff;
	background:url(../images/menu_a.gif) repeat-x left top;
}
.content {
	padding:0;
	background:repeat-x left bottom;
}
.content_resize {
	margin:0 auto;
	padding:24px 0 40px;
	width:960px;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:right;
	width:680px;
}
.content .mainbar h2 {
	margin-bottom:0;
	padding-left:44px;
}
.content .mainbar div.img {
	padding:12px 0;
	float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
	border:none;
}
.content .mainbar .article {
	margin:0 0 8px;
	padding:6px 20px;
	background:url(../images/article_bg.jpg) no-repeat left top;
	border-bottom:1px solid #dfc988;
}
.content .mainbar .post_content {
}
.content .mainbar .post_content strong {
	color:#585757;
}
.content .sidebar {
	padding:0;
	float:left;
	width:260px;
}
.content .sidebar .gadget {
	margin:0 0 12px;
	padding:6px 20px 24px;
}
.content .sidebar h2 {
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li, ul.ex_menu li {
	padding:8px 0;
	width:220px;
	background:repeat-x left bottom;
}
ul.sb_menu li a {
	color:#585757;
	text-decoration:none;
	margin-left:0;
	padding:4px 8px 4px 0;
	background:no-repeat left center;
}
ul.ex_menu li a {
	font-weight:bold;
	color:#585757;
	text-decoration:none;
	background:no-repeat left center;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	padding-left:22px;
	color:#dfc988;
	font-weight:bold;
	text-decoration:none;
	background:url(../images/li_a.gif) no-repeat left center;
}
p.spec {
	padding:0 0 16px;
}
p.infopost {
	margin:0;
	padding:6px 0;
	text-transform:none;
}
p.infopost a {
	padding:0 2px;
	text-decoration:none;
	font-weight:normal;
	color:#dfc988;
}
p.infopost a:hover {
	text-decoration:underline;
}
p.infopost span.date {
}
.article a.com {
	margin:0;
	padding:0;
	font-weight:normal;
	text-decoration:none;
	text-align:center;
}
.article a.com:hover {
	text-decoration:none;
}
.article a.com span {
	font-weight:bold;
}
.post_content a.rm {
	display:block;
	float:left;
	margin:0 0 16px;
	padding:0 0 0 22px;
	font-size:13px;
	line-height:18px;
	font-weight:bold;
	text-transform:none;
	color:#dfc988;
	text-decoration:none;
	text-align:center;
	background:url(../images/li_a.gif) no-repeat left center;
}
.content p.pages {
	margin:0;
	padding:24px 20px;
	font-size:11px;
	line-height:16px;
	color:#959595;
	text-align:left;
}
.content p.pages span, .content p.pages a {
	display:block;
	float:left;
	margin:0;
	padding:10px 0;
	width:36px;
	text-decoration:none;
	text-align:center;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#212121;
	background:url(../images/page_a.jpg) no-repeat center center;
}
.content p.pages a {
	color:#343537;
	border:none;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	border-top:1px solid #dfc988;
	border-bottom:1px solid #dfc988;
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
}
.fbg h2 {
	margin-bottom:24px;
	padding-bottom:8px;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	border:4px solid #dfc988;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:280px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#585757;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#dfc988;
	text-decoration:none;
	font-weight:bold;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#dfc988;
	text-decoration:underline;
	font-weight:normal;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	padding:12px 0 24px 20px;
	float:left;
}
#formsearch {
	margin:0;
	padding:0;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:7px 10px;
	float:left;
	width:168px;
	font-size:12px;
	line-height:17px;
	color:#a9a9a9;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
	background:repeat-x left top;
}
.footer_resize {
	margin:0 auto;
	padding:0;
	width:920px;
	line-height:1.5em;
	color:#585757;
}
.footer_resize p {
	margin:32px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#dfc988;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#dfc988;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}
